* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background: rgb(255, 251, 232);
  color: #222;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/* Header */
header {
  background: rgba(255, 251, 232);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2d2a26;
}

.logo span {
  color: #8b6f47;
  font-style: italic;
}

.logo img {
  height: 70px;
  width: auto;
  display: block;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #444;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #8b6f47;
}


.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: url('../images/IMG_4051.PNG') center/cover no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 700px;
}

.hero-subtitle {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #e6d7c3;
}

.hero h1 {
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: 600;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 30px;
  color: #f3ece4;
}

.btn {
  display: inline-block;
  padding: 14px 32px;
  background: #8b6f47;
  color: rgb(255, 251, 232);
  border: 1px solid #8b6f47;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn:hover {
  background: transparent;
  border-color: white;
}

/* Section title */
.section {
  padding: 90px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 55px;
}

.section-title p {
  color: #8b6f47;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  margin-bottom: 10px;
}

.section-title h2 {
  font-size: 42px;
  font-weight: 600;
  color: #2b2926;
}

/* Catalog */
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  gap: 30px;
}

.card {
  background: rgb(255, 251, 232);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  cursor: pointer;
}

.card-content {
  padding: 24px;
}

.card-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2d2a26;
}

.card-content p {
  color: #666;
  font-size: 15px;
  margin-bottom: 15px;
}

.price {
  font-size: 20px;
  color: #8b6f47;
  font-weight: bold;
  margin-bottom: 15px;
}

.order-btn {
  display: inline-block;
  padding: 11px 24px;
  border: 1px solid #8b6f47;
  color: #8b6f47;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
}

.order-btn:hover {
  background: #8b6f47;
  color: white;
}

.image-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: zoom-out;
}

.image-modal.active {
  display: flex;
}

.image-modal img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
}


@media (max-width: 600px) {
  .slider-btn {
    width: 45px;
    height: 45px;
    font-size: 30px;
  }

  .prev-btn {
    left: 12px;
  }

  .next-btn {
    right: 12px;
  }
}
/* Premium highlight */
.premium-banner {
  background: #2d2a26;
  color: rgb(255, 251, 232);
  text-align: center;
  padding: 80px 20px;
}

.premium-banner p {
  color: #cdbb9c;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  margin-bottom: 15px;
}

.premium-banner h2 {
  font-size: 40px;
  margin-bottom: 18px;
}

.premium-banner span {
  color: #d7b98d;
  font-style: italic;
}

/* Footer */
footer {
  background: #111;
  color: #ddd;
  padding: 50px 0 25px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.footer-box h3 {
  margin-bottom: 14px;
   color: rgb(255, 251, 232);
  font-size: 20px;
}

.footer-box p,
.footer-box a {
  color: #bbb;
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}

.copyright {
  text-align: center;
  border-top: 1px solid #2c2c2c;
  padding-top: 18px;
  color: #999;
  font-size: 14px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 46px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .nav-links {
    gap: 15px;
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 16px;
  }

  .section-title h2 {
    font-size: 30px;
  }

}
@media (max-width: 768px) {
  .hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url('../images/IMG_4051.PNG') center/contain no-repeat;
    background-color: rgb(255, 251, 232);
    padding: 20px;
  }
}
.hero {
  position: relative;
}
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 2px solid #8b6f47;

  color: #8b6f47;
  font-size: 28px;
  text-decoration: none;

  animation: bounce 1.5s infinite;
  cursor: pointer;

  background: rgba(255, 251, 232, 0.2);
  backdrop-filter: blur(6px);
}
.scroll-down {
  text-shadow: 0 0 10px rgba(139, 111, 71, 0.4);
}
.scroll-down:hover {
  transform: translateX(-50%) scale(1.1);
  background: #8b6f47;
  color: rgb(255, 251, 232);

}
@keyframes bounce {
  0%, 100% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(12px); }
}
html {
  scroll-behavior: smooth;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 50px;
}

.filter-btn {
  padding: 12px 25px;
  border: 1px solid #8b6f47;
  background: transparent;
  color: #8b6f47;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  border-radius: 30px;
}

.filter-btn:hover,
.filter-btn.active {
  background: #8b6f47;
  color: rgb(255, 251, 232);
}

.category-card {
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.category-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 12px;
}

.category-card span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

.category-card:hover img {
  transform: scale(1.1);
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin-bottom: 60px;
}
/* Tablet */
@media (max-width: 1100px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .category-card img {
    height: 260px;
  }
}

/* Small tablet / large phone */
@media (max-width: 800px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .category-card img {
    height: 240px;
  }
}


@media (max-width: 600px) {
  .category-card img {
    height: 180px;
  }
}